<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Practicum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color: rgba(0, 0, 0, 0.20)">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src='~/css/logo.png' alt='Practicum' height="50" width="50" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="myfont" asp-area="" asp-controller="Home" asp-action="OTMS">Практика ОТМС</a>
                        </li>
                        <li class="nav-item">
                            <a class="myfont" asp-area="" asp-controller="Home" asp-action="KURS">Курсовой проект</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted" style="background-color: rgba(0, 0, 0, 0.20); text-align:right">
        <div class="form-text" style="color:#eeeeee; margin-right:50px;">
            &copy; 2020 - Practicum - Designed by Aleksey Kuyat
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    body {
        margin-bottom: 60px;
        color: #fff;
    }
    .myfont {
        font-size: 24px;
        font-family: 'Franklin Gothic Medium';
        font-weight: bold;
        color: rgba(238, 238, 238, 0.85);
        text-shadow: none;
        margin-right: 20px;
        margin-left: 10px;
        transition-property: color;
        transition-duration: .2s;
    }
    .myfont:hover {
        color: rgba(0, 0, 0, 0.25); 
        text-decoration:none;
    }
    .myfont:active {
        color: rgba(0, 0, 0, 0.5);
        text-decoration:none;
    }
    .text {
        background-color: rgba(255, 255, 255, 0.5);
        color: #222222;
        border-color: rgba(0, 0, 0, 0.51);
        border-radius: 10px 10px 10px 10px;
        padding: 2px;
    }

        .text:hover {
            background-color: rgba(255, 255, 255, 0.75);
        }

        .text:focus {
            box-shadow: 0px 0px 10px #ea26e1;
            outline: none;
        }
</style>

