@{
    ViewData["Title"] = "Домашняя страница";
}

<body style="color:#eeeeee; background: linear-gradient(#8f21bd, #eb5ddc)">
    <div class="text-center" style="font-weight:bold">
        <h1 class="display-4">Добро пожаловать</h1>
        <p>На мой мини сайт-эксперимент</p>
    </div>
    <div class="text-center" style="font-weight:bold; font-size:x-large">
        <br />
        <p>Галерея невероятных рисунков карандашом</p>
    </div>
    <div class="parallaxy" style="background-image: url(https://sun9-63.userapi.com/impg/tLyIAkMPQ9NhK_42ehx0cuhanZvmJD8EYTTJtw/HoL7mwWfhcA.jpg?size=1920x1080&quality=96&proxy=1&sign=bf4923ebb5bf5720fe9a5b187a56e043&type=album)">
        <p>???</p>
    </div>
    <br /><br /><br />
    <div class="parallaxy" style="background-image: url(https://sun9-13.userapi.com/impf/868HBoophuxtXPREYpTkuCau9rWar1zYscxYLA/sbHlXtz-HnA.jpg?size=1920x1080&quality=96&proxy=1&sign=44fc069e096470876671388d0491b97a&type=album)">
        <p>Чудесная Миа</p>
    </div>
    <br /><br /><br />
    <div class="parallaxy" style="background-image: url(https://sun9-35.userapi.com/impf/4Fj7J6WWVaZxrn9Yh6jg6zGAak4EvH1i59F6fA/_4GqXixZ93k.jpg?size=2160x2160&quality=96&proxy=1&sign=c5b96d089e7c34d53e9d3c1263a78b50&type=album); background-size: 80%">
        <p>Lonely Knight</p>
    </div>
</body>




<style>
    .parallaxy {
        color: white;
        text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.50);
        font: 18px MrshPx;
        padding-left: 10px;
        padding-bottom: 10px;        
        height: 600px;
        border-top: 10px groove rgba(0, 0, 0, 0.25);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90% auto;
    }
</style>
