@{
    ViewData["Title"] = "Домашняя страница";
    <link rel="StyleSheet" href="~/css/StyleSheet.css">
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>На мой мини сайт-эксперимент</p>
</div>
<div class="centerLayer">
    <p>Здесь контент появится ближе к релизу Курсовой...</p>
</div>
