@{
    ViewData["Title"] = "Курсовой проект";
    <link rel="StyleSheet" href="~/css/StyleSheet.css">
}
<h1>@ViewData["Title"]</h1>

<div class="centerLayer">
    <p>На данной странице ведутся ремонтные работы...</p>
</div>