@{
    ViewData["Title"] = "Mia Collection";
}
<body style="background: linear-gradient(#3e3e3e, #101010)">
    <h3>kid Marsh - Mia Collection</h3>
    <h5>Nevermind</h5>
    <audio controls=""><source src="https://api.novecore.com/download/5ff33b8133605/wav" type="audio/x-wav"></audio>
    <h5>Little Pog</h5>
    <audio controls=""><source src="https://api.novecore.com/download/5ff33be4473a2/wav" type="audio/x-wav"></audio>
    <h5>Naii</h5>
    <audio controls=""><source src="https://api.novecore.com/download/5ff33c229f5bb/wav" type="audio/x-wav"></audio>
</body>
